<div class="form_container">
  <div class="medium-4 medium-centered columns">
    <h4>New Level for <%= @feeling.category %></h4>
      <%= form_for [@feeling, @level] do |f| %>

        <div class="form_errors">
          <% if @level.errors.any? %>
            <h4>
              <%= pluralize(@level.errors.count, "error")%>
              detected:
            </h4>
            <ul>
              <% @level.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          <%end%>
        </div>

        <%= f.label :amount%>
        <%= f.select :amount, options_for_select(10.downto(1)), id: " "%>
        <%= f.submit "Add amount", class: "button radius small"%>
      <%end%>

    <%= link_to "Back to Index", feelings_path, class: "button radius small"%>
  </div>
</div>
